<!DOCTYPE html>
<html>
    <head>
        <title>Librio</title>
    </head>
    <body>
        <a href="{{ path('_default') }}">Retour accueil</a>
        <table>
        {% for categorie in categories %}
            <tr>
                <td><a href="{{ path('_articlesParCategorie', {  'id':categorie.id})}}">{{categorie.id}}</a></td>
                <td>{{categorie.intitule}}</td>
            </tr>
        {% endfor %}
        </table>
    </body>
</html>
