<!DOCTYPE html>
<html>
<head>
    <title>Librio</title>
</head>
<body>
    <div>
        <a href="{{ path('_default') }}">Retour accueil</a>
        <!-- affiche l’intitulé de chaque article, son prix, la quantité mise en panier et le montant total du panier -->
        {% if contenuPanier is defined and contenuPanier is not empty %}
            <table>
                <tr><td>Titre</td><td>Prix</td><td>Quantité en panier</td></tr>
                {% for article, value in contenuPanier %}
                    <tr>
                        <td>article.titre</td>
                        <td>article.prix</td>
                        <td>value</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>Votre panier est vide</p>
        {%  endif %}
    </div>
</body>
</html>