<!DOCTYPE html>
<html>
    <head>
        <title>Librio</title>
    </head>
    <body>
        <p>Bonjour {{ name }} bienvenu sur notre site !</p>
        
        <a href="{{ path('_catalogue') }}">Catalogue</a>
    </body>
    
    <a href="/mention">Mention</a>
</html>

